<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffe4c4">
<center>
<form action="./add/" method="get">
    Enter first number :<input type="text" name="t1"><br>
    Enter second number :<input type="text" name="t2"><br>

    <input type="submit" value="add" name="operation">
    <input type="submit" value="sub" name="operation">
    <input type="submit" value="mul" name="operation">
    <input type="submit" value="div" name="operation">

</form>
</center>
</body>
</html>